body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f8f8;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.download-resume a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border: 1px solid #0f0101;
    border-radius: 4px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

#contact-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body {
    background-image: url('D:\\protfolio\\Porfolio\\pngtree-boy-work-from-home-with-laptop-png-image_5424728.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}